Computer 1/Log Analyzer.json
[
    {
        "id": "182a8eb634a82389",
        "type": "tab",
        "label": "Log Analyzer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f4eb8ee56b7dc87",
        "type": "inject",
        "z": "182a8eb634a82389",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "9150057a23266bb7"
            ]
        ]
    },
    {
        "id": "564598a24968c821",
        "type": "comment",
        "z": "182a8eb634a82389",
        "name": "SD Card File Browser",
        "info": "",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "15f6eff16e13bb6b",
        "type": "ui_button",
        "z": "182a8eb634a82389",
        "name": "",
        "group": "f817d8b8d20ccf72",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "9150057a23266bb7"
            ]
        ]
    },
    {
        "id": "be63ad554f14e9e6",
        "type": "ui_dropdown",
        "z": "182a8eb634a82389",
        "name": "File Selector",
        "label": "",
        "tooltip": "",
        "place": "Select a file",
        "group": "f817d8b8d20ccf72",
        "order": 4,
        "width": 10,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "78dcbaf5b3345667"
            ]
        ]
    },
    {
        "id": "f937b726dc30b2f3",
        "type": "function",
        "z": "182a8eb634a82389",
        "name": "Format data",
        "func": "msg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    obj = {};\n    obj [msg.payload[i].name]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "be63ad554f14e9e6"
            ]
        ]
    },
    {
        "id": "5f65f8d06e7f22e8",
        "type": "ui_template",
        "z": "182a8eb634a82389",
        "d": true,
        "group": "f817d8b8d20ccf72",
        "name": "",
        "order": 7,
        "width": 18,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2792e5502142b5ef",
        "type": "template",
        "z": "182a8eb634a82389",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/red/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "5f65f8d06e7f22e8"
            ]
        ]
    },
    {
        "id": "9608463259a0ae20",
        "type": "function",
        "z": "182a8eb634a82389",
        "name": "Convert timestamps",
        "func": "\nfor (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "2792e5502142b5ef"
            ]
        ]
    },
    {
        "id": "78dcbaf5b3345667",
        "type": "function",
        "z": "182a8eb634a82389",
        "name": "Save selection",
        "func": "// Save the file name selected from the dropdown in the flow context\nflow.set(\"fileselected\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7dfe555641cf550e",
        "type": "comment",
        "z": "182a8eb634a82389",
        "name": "Graph the data",
        "info": "",
        "x": 140,
        "y": 480,
        "wires": []
    },
    {
        "id": "c6e6b2cbd9af91f7",
        "type": "ui_button",
        "z": "182a8eb634a82389",
        "name": "",
        "group": "f817d8b8d20ccf72",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Graph",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "show_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "af1f5d0333f6a0bd"
            ]
        ]
    },
    {
        "id": "af1f5d0333f6a0bd",
        "type": "function",
        "z": "182a8eb634a82389",
        "name": "Get filename",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "fbbd4d971e0a69db"
            ]
        ]
    },
    {
        "id": "fbbd4d971e0a69db",
        "type": "file in",
        "z": "182a8eb634a82389",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "850ae029e186ac08"
            ]
        ]
    },
    {
        "id": "9adcb24a1ea9b29b",
        "type": "ui_chart",
        "z": "182a8eb634a82389",
        "name": "",
        "group": "f817d8b8d20ccf72",
        "order": 15,
        "width": "30",
        "height": 6,
        "label": "File data",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "850ae029e186ac08",
        "type": "json",
        "z": "182a8eb634a82389",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "9adcb24a1ea9b29b"
            ]
        ]
    },
    {
        "id": "624f7c49de5f010d",
        "type": "comment",
        "z": "182a8eb634a82389",
        "name": "Flow to analyze log files within Node Red",
        "info": "",
        "x": 208.88888549804688,
        "y": 46.666664123535156,
        "wires": []
    },
    {
        "id": "9150057a23266bb7",
        "type": "fs-file-lister",
        "z": "182a8eb634a82389",
        "name": "File Lister",
        "start": "\\Users\\Remote\\.node-red\\logs\\",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "both",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": true,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "f937b726dc30b2f3",
                "9608463259a0ae20"
            ]
        ]
    },
    {
        "id": "b566876310d153f3",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 6,
        "width": 13,
        "height": 1
    },
    {
        "id": "5031e65e71672fae",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 8,
        "width": 12,
        "height": 1
    },
    {
        "id": "62cdc894d2a81509",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "7ded276a712c19eb",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "152f2b2ce912d119",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 12,
        "width": 12,
        "height": 1
    },
    {
        "id": "96f2c994a486471d",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 13,
        "width": 12,
        "height": 1
    },
    {
        "id": "8f9245b0b062dda6",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 14,
        "width": 12,
        "height": 1
    },
    {
        "id": "96a9ac381233dc2b",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 16,
        "width": 12,
        "height": 1
    },
    {
        "id": "66039c373a2372dc",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 17,
        "width": 12,
        "height": 1
    },
    {
        "id": "5fff226c87eb9c30",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 18,
        "width": 12,
        "height": 1
    },
    {
        "id": "8a03a969ce21bb7b",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 19,
        "width": 12,
        "height": 1
    },
    {
        "id": "03a6417b9ddd79f4",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 20,
        "width": 12,
        "height": 1
    },
    {
        "id": "a48fc91bf4939fd2",
        "type": "ui_spacer",
        "z": "182a8eb634a82389",
        "name": "spacer",
        "group": "f817d8b8d20ccf72",
        "order": 21,
        "width": 12,
        "height": 1
    },
    {
        "id": "f817d8b8d20ccf72",
        "type": "ui_group",
        "name": "File Browser",
        "tab": "516a55836d8984fe",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "516a55836d8984fe",
        "type": "ui_tab",
        "name": "Log Analyzer",
        "icon": "show_chart",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]