Computer 1/WX Station.json
[
    {
        "id": "efaf7e39b3ced8bf",
        "type": "tab",
        "label": "Tempest_Json",
        "disabled": false,
        "info": ""
    },
    {
        "id": "467d88c4a382e7b4",
        "type": "udp in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "iface": "",
        "port": "50222",
        "ipv": "udp4",
        "multicast": "false",
        "group": "224.0.0.1",
        "datatype": "utf8",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "429a0e1e088d9214",
                "dca1bac092186db8"
            ]
        ]
    },
    {
        "id": "429a0e1e088d9214",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "0caabb7dc6111767",
                "8c2a11fb997980e5"
            ]
        ]
    },
    {
        "id": "0caabb7dc6111767",
        "type": "switch",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_st",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "obs_st",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 1720,
        "wires": [
            [
                "ed9c55b29fba0a70",
                "d0adf36f770b3920",
                "979a169a3fd62638",
                "dfae54678d81dd5b",
                "19df3d6ececab61e",
                "c0858fa6a269eac3",
                "50869403dcf2d6e5",
                "22bf1e4f32273acf",
                "38db64f055152264",
                "495d725044d4031b",
                "b855c69e2ee3ee75",
                "bb67ade1bfe79e09",
                "61b984d4c62b9cfb",
                "03014218df14b7af",
                "e326569fea62c302"
            ]
        ]
    },
    {
        "id": "070617a90d1446f9",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Lull",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ob[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "c8bd6f2d27655c96",
                "29222b17617e69bd"
            ]
        ]
    },
    {
        "id": "979a169a3fd62638",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Average",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "e611a2fe3b77bb9a",
                "e8306dda018792dd"
            ]
        ]
    },
    {
        "id": "d0adf36f770b3920",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Gust",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 980,
        "wires": [
            [
                "51ce2a5d34b2503c",
                "fb9b4bbb49eab655"
            ]
        ]
    },
    {
        "id": "ed9c55b29fba0a70",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Direction",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][4]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1240,
        "wires": [
            [
                "3dc5cb05bdf109f3",
                "2c49a758a6ab8ea7",
                "5c0ae07a76800288",
                "9116cb824df50eec"
            ]
        ]
    },
    {
        "id": "dfae54678d81dd5b",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][6]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1520,
        "wires": [
            [
                "0bd329eafca2d18e",
                "7e6519cceda79352"
            ]
        ]
    },
    {
        "id": "0bd329eafca2d18e",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "func": "\nmsg.payload = msg.payload / 33.864\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1520,
        "wires": [
            [
                "3a1746a6e23879b2",
                "765540bb13da674d"
            ]
        ]
    },
    {
        "id": "19df3d6ececab61e",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][7]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1600,
        "wires": [
            [
                "b3c1e48419e1d801",
                "5d324886a4c13c89",
                "f2a86dbf693f8e8b",
                "54df3b78c61fe6cc"
            ]
        ]
    },
    {
        "id": "c0858fa6a269eac3",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][8]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1680,
        "wires": [
            [
                "ec5e665c3b3babc6",
                "7ca03c9efd2dc21e"
            ]
        ]
    },
    {
        "id": "b3c1e48419e1d801",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "func": "//(0°C × 9/5) + 32 = 32°F\n\nmsg.payload = (msg.payload * 9/5) + 32\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1620,
        "wires": [
            [
                "b29afe3fe964451d"
            ]
        ]
    },
    {
        "id": "50869403dcf2d6e5",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Illuminance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][9]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1980,
        "wires": [
            [
                "c31ff84f4f1664dd",
                "7673ae18c9d42bc1"
            ]
        ]
    },
    {
        "id": "22bf1e4f32273acf",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "UV",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][10]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2160,
        "wires": [
            [
                "4a6f22fd040dfea1",
                "ae6afabef0ca0680"
            ]
        ]
    },
    {
        "id": "38db64f055152264",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Solar Radiation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][11]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 2340,
        "wires": [
            [
                "e747ee6367b69dd1",
                "20ea165bca3b85a3"
            ]
        ]
    },
    {
        "id": "495d725044d4031b",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Rain amount over previous minute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][12]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2420,
        "wires": [
            [
                "c333ad346960b99b"
            ]
        ]
    },
    {
        "id": "b855c69e2ee3ee75",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Precipitation Type",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][13]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2520,
        "wires": [
            [
                "472aa5496cd481ad"
            ]
        ]
    },
    {
        "id": "bb67ade1bfe79e09",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Lightning Strike Avg Distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][14]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 2720,
        "wires": [
            [
                "8473828a8ff6ffa2",
                "23ceba86980f2f5d"
            ]
        ]
    },
    {
        "id": "61b984d4c62b9cfb",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Lightning Strike Count",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][15]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 2860,
        "wires": [
            [
                "b3426bbaa6cee58d",
                "06d6e54c46336d3c"
            ]
        ]
    },
    {
        "id": "03014218df14b7af",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Battery",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0][16]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 3000,
        "wires": [
            [
                "28679b2429c83f0c"
            ]
        ]
    },
    {
        "id": "1e0a2dbc581232fe",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 15,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Pressure",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1270,
        "y": 1460,
        "wires": []
    },
    {
        "id": "91ac63ce68359ef6",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 17,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Temperature",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1340,
        "y": 1540,
        "wires": []
    },
    {
        "id": "15f3506db17f0546",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Humidity",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1290,
        "y": 1680,
        "wires": []
    },
    {
        "id": "ea77dfa33294ae43",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 22,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Wind Last",
        "format": "<font size = 5>{{msg.payload | number:2 }}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1650,
        "y": 400,
        "wires": []
    },
    {
        "id": "fc72d1df79faf16f",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Wind Average",
        "format": "<font size = 5>{{msg.payload | number:2 }}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1540,
        "y": 860,
        "wires": []
    },
    {
        "id": "eee4ed6ee0af4aba",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Wind Gust",
        "format": "<font size = 5>{{msg.payload | number:2 }}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1610,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c31ff84f4f1664dd",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Brightness",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1150,
        "y": 1860,
        "wires": []
    },
    {
        "id": "4a6f22fd040dfea1",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>UV",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1030,
        "y": 2060,
        "wires": []
    },
    {
        "id": "e747ee6367b69dd1",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 16,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Solar Radiation",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 2260,
        "wires": []
    },
    {
        "id": "76a4ad880f6534c7",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 13,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Precip Previous Min",
        "format": "<font size = 5>{{msg.payload | number:3}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1500,
        "y": 2420,
        "wires": []
    },
    {
        "id": "fb37960c848cb075",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Precip Type",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1640,
        "y": 2500,
        "wires": []
    },
    {
        "id": "8473828a8ff6ffa2",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Lightning Distance",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1260,
        "y": 2560,
        "wires": []
    },
    {
        "id": "b3426bbaa6cee58d",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Lightning Count",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1330,
        "y": 2680,
        "wires": []
    },
    {
        "id": "28679b2429c83f0c",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Air Batt Volts",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1200,
        "y": 2920,
        "wires": []
    },
    {
        "id": "e68ff3ca1a8fc7b3",
        "type": "http request",
        "z": "efaf7e39b3ced8bf",
        "name": "Station Observations",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://swd.weatherflow.com/swd/rest/observations/station/station#?token=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 860,
        "y": 3140,
        "wires": [
            [
                "83b80127ed76c1e9"
            ]
        ]
    },
    {
        "id": "2d86443127264688",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 630,
        "y": 3140,
        "wires": [
            [
                "e68ff3ca1a8fc7b3"
            ]
        ]
    },
    {
        "id": "83b80127ed76c1e9",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 3140,
        "wires": [
            [
                "5d80f1cb4967376a",
                "701d2f37b459b76e",
                "be1f56997fb7630d",
                "8050d6ea6406f5f9",
                "d765514f14f0be9a"
            ]
        ]
    },
    {
        "id": "3dc5cb05bdf109f3",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Wind Direction",
        "format": "<font size = 5>{{msg.payload}}",
        "layout": "row-spread",
        "x": 1710,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c8bd6f2d27655c96",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "M/S to MPH",
        "func": "\nmsg.payload = msg.payload *2.237\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "ea77dfa33294ae43"
            ]
        ]
    },
    {
        "id": "e611a2fe3b77bb9a",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "M/S to MPH",
        "func": "\nmsg.payload = msg.payload *2.237\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "fc72d1df79faf16f",
                "acb0bbd1666bb45c",
                "9853e014322e5988"
            ]
        ]
    },
    {
        "id": "51ce2a5d34b2503c",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "M/S to MPH",
        "func": "\nmsg.payload = msg.payload *2.237\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1040,
        "wires": [
            [
                "eee4ed6ee0af4aba",
                "21bbfca846349115"
            ]
        ]
    },
    {
        "id": "472aa5496cd481ad",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "func": "\nvar type = msg.payload\n\nif(type == 0){msg.payload = \"none\"}\n\n\nelse if(type == 1) { msg.payload = \"Rain\" }\nelse if(type == 2) { msg.payload = \"Hail\" }\nelse if(type == 3) { msg.payload = \"Rain & Hail\" }\n\n\n// var type = msg.payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 2500,
        "wires": [
            [
                "fb37960c848cb075",
                "7f2ce5053c54ca14"
            ]
        ]
    },
    {
        "id": "2c49a758a6ab8ea7",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "WX Wind Direction",
        "mode": "link",
        "links": [],
        "x": 1815,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f2a86dbf693f8e8b",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "WX Outside Temperature C",
        "mode": "link",
        "links": [],
        "x": 1855,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7f2ce5053c54ca14",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Precipation Type",
        "mode": "link",
        "links": [],
        "x": 1425,
        "y": 2460,
        "wires": []
    },
    {
        "id": "ec5e665c3b3babc6",
        "type": "string",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "methods": [
            {
                "name": "toInteger",
                "params": []
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 1090,
        "y": 1680,
        "wires": [
            [
                "15f3506db17f0546"
            ]
        ]
    },
    {
        "id": "b29afe3fe964451d",
        "type": "string",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "methods": [
            {
                "name": "toInteger",
                "params": []
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 1070,
        "y": 1560,
        "wires": [
            [
                "91ac63ce68359ef6"
            ]
        ]
    },
    {
        "id": "3a1746a6e23879b2",
        "type": "string",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "methods": [
            {
                "name": "toFloat",
                "params": [
                    {
                        "type": "num",
                        "value": "2"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 1090,
        "y": 1460,
        "wires": [
            [
                "1e0a2dbc581232fe"
            ]
        ]
    },
    {
        "id": "06d6e54c46336d3c",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Lighting Count",
        "mode": "link",
        "links": [
            "11d52ace4f6ffb21"
        ],
        "x": 1565,
        "y": 2740,
        "wires": []
    },
    {
        "id": "23ceba86980f2f5d",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Lighting Distance",
        "mode": "link",
        "links": [],
        "x": 1345,
        "y": 2620,
        "wires": []
    },
    {
        "id": "64707e5afa66e767",
        "type": "catch",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 640,
        "y": 40,
        "wires": [
            [
                "7c5156dd09a86a3e"
            ]
        ]
    },
    {
        "id": "7c5156dd09a86a3e",
        "type": "debug",
        "z": "efaf7e39b3ced8bf",
        "name": "debug 162",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "7e6519cceda79352",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "return press mbar",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1500,
        "wires": [
            [
                "a768ccfd65d7a059",
                "a389eab1725eea36"
            ]
        ]
    },
    {
        "id": "a768ccfd65d7a059",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "6b368855d9729e84",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Mbar",
        "label": "mbar",
        "format": "{{value | number:1}}",
        "min": "700",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1050",
        "diff": false,
        "className": "",
        "x": 1730,
        "y": 1460,
        "wires": []
    },
    {
        "id": "f1a691c96065fc75",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Mbar",
        "group": "6b368855d9729e84",
        "order": 2,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3590,
        "y": 1520,
        "wires": [
            [
                "d3e5f1337af8a71f"
            ]
        ]
    },
    {
        "id": "5d324886a4c13c89",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "convert-to-deg-F",
        "func": "var degF = (msg.payload * 1.8) + 32\nmsg.payload = degF\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1640,
        "wires": [
            [
                "5c2836e40c1c0e9f",
                "08f6603409d2b505",
                "d1ed234a4adf1680"
            ]
        ]
    },
    {
        "id": "5c2836e40c1c0e9f",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "1e6cd4522f694110",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "DegF",
        "label": "deg F",
        "format": "{{value | number:1 }}",
        "min": "-10",
        "max": "130",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "90",
        "seg2": "100",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 1680,
        "wires": []
    },
    {
        "id": "283a12aee251f488",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Deg F",
        "group": "1e6cd4522f694110",
        "order": 3,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3530,
        "y": 1640,
        "wires": [
            [
                "06c36d6bdab14b96"
            ]
        ]
    },
    {
        "id": "7ca03c9efd2dc21e",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "return relHumid",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1800,
        "wires": [
            [
                "b0f5a3cc2e1dc62b",
                "6234726cfd43ac4e",
                "1d2a1972f4a19e55"
            ]
        ]
    },
    {
        "id": "b0f5a3cc2e1dc62b",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "1d5904f9a10c9283",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Percent",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 1680,
        "y": 1740,
        "wires": []
    },
    {
        "id": "574dc7c011e9e5ea",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Humidity",
        "group": "1d5904f9a10c9283",
        "order": 2,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3540,
        "y": 1820,
        "wires": [
            [
                "8d3c5390dc2e9612"
            ]
        ]
    },
    {
        "id": "ae6afabef0ca0680",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_sky uv",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 2160,
        "wires": [
            [
                "663255cc16a0fdb1",
                "56c3ba69f728d725",
                "d7421fe881e5a032"
            ]
        ]
    },
    {
        "id": "ca4604053f15c0ca",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "UV",
        "group": "7c9be089531b0711",
        "order": 2,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3530,
        "y": 2140,
        "wires": [
            [
                "ba44e8887c788e9a"
            ]
        ]
    },
    {
        "id": "663255cc16a0fdb1",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "7c9be089531b0711",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "UV",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "18",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "11",
        "seg2": "13",
        "diff": false,
        "className": "",
        "x": 1610,
        "y": 2020,
        "wires": []
    },
    {
        "id": "7673ae18c9d42bc1",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_sky illuminance",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1940,
        "wires": [
            [
                "d8bcd3d56a4fe5df",
                "7071873806a4b0f2",
                "73c692e1ec90a5ce"
            ]
        ]
    },
    {
        "id": "072a490542c8b697",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Brightness",
        "group": "7c9be089531b0711",
        "order": 4,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "200000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3550,
        "y": 1980,
        "wires": [
            [
                "3b225e8734ea2507"
            ]
        ]
    },
    {
        "id": "d8bcd3d56a4fe5df",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "7c9be089531b0711",
        "order": 3,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Brightness",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "200000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "140000",
        "seg2": "150000",
        "diff": false,
        "className": "",
        "x": 1850,
        "y": 1860,
        "wires": []
    },
    {
        "id": "7401d677b0688ebf",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Solar",
        "group": "7c9be089531b0711",
        "order": 6,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "1300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3510,
        "y": 2340,
        "wires": [
            [
                "11eda623532580fa"
            ]
        ]
    },
    {
        "id": "a68cc403cddc08fc",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "7c9be089531b0711",
        "order": 5,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Solar",
        "label": "W/m^2",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1200",
        "diff": false,
        "className": "",
        "x": 1590,
        "y": 2280,
        "wires": []
    },
    {
        "id": "20ea165bca3b85a3",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_sky solar",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 2340,
        "wires": [
            [
                "a68cc403cddc08fc",
                "a0a5670d48b434fd",
                "5a01dae2ed4a29bd"
            ]
        ]
    },
    {
        "id": "29222b17617e69bd",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "convert mps to mph",
        "func": "mph = msg.payload * 2.23694\nmsg.payload = mph\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "9f96e00f455e46f1",
                "a10eff35d9ae7d9b",
                "c431608a5ad96cc2"
            ]
        ],
        "outputLabels": [
            "mph"
        ]
    },
    {
        "id": "e4e80a7c0825cb7e",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Mph",
        "group": "3011ea26b623dc6e",
        "order": 3,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2450,
        "y": 220,
        "wires": [
            [
                "85ef3dbf63776596"
            ]
        ]
    },
    {
        "id": "9f96e00f455e46f1",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "3011ea26b623dc6e",
        "order": 2,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Last",
        "label": "mph",
        "format": "{{value | number:1}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb9b4bbb49eab655",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "convert gust to mph",
        "func": "mph = (msg.payload*2.23694)\nmsg.payload = mph\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 980,
        "wires": [
            [
                "202d2c0f0b181c8a",
                "a3928cad07fc55cd"
            ]
        ]
    },
    {
        "id": "c365efacb4f9bf17",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Gust",
        "group": "3011ea26b623dc6e",
        "order": 7,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2910,
        "y": 1080,
        "wires": [
            [
                "99f3931acdb71c5e"
            ]
        ]
    },
    {
        "id": "202d2c0f0b181c8a",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "3011ea26b623dc6e",
        "order": 6,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Gust",
        "label": "mph",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1910,
        "y": 940,
        "wires": []
    },
    {
        "id": "e8306dda018792dd",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "convert avg to mph",
        "func": "mph = msg.payload * 2.23694\nmsg.payload = mph\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 660,
        "wires": [
            [
                "d78faa123b8642a0",
                "7aa37c32bf9263e3",
                "63cfcd0d76ebca77"
            ]
        ]
    },
    {
        "id": "c6eea718dc95195b",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Avg",
        "group": "3011ea26b623dc6e",
        "order": 5,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2810,
        "y": 600,
        "wires": [
            [
                "c6f8c011352fe398"
            ]
        ]
    },
    {
        "id": "d78faa123b8642a0",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "3011ea26b623dc6e",
        "order": 4,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Avg",
        "label": "mph",
        "format": "{{value | number: 1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 2070,
        "y": 740,
        "wires": []
    },
    {
        "id": "5c0ae07a76800288",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_sky rapid_wind",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1260,
        "wires": [
            [
                "c9116cb90fa79722"
            ]
        ],
        "outputLabels": [
            "degrees"
        ]
    },
    {
        "id": "c9116cb90fa79722",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "3011ea26b623dc6e",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "compass",
        "title": "From",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1810,
        "y": 1260,
        "wires": []
    },
    {
        "id": "5989514c58aff12a",
        "type": "udp in",
        "z": "efaf7e39b3ced8bf",
        "name": "weatherflowBroadcasts",
        "iface": "",
        "port": "50222",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 220,
        "y": 4020,
        "wires": [
            [
                "1d03037f79c36b70"
            ]
        ]
    },
    {
        "id": "1d03037f79c36b70",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "jsonconverter",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 240,
        "y": 4080,
        "wires": [
            [
                "59d6a708a5ae90d0"
            ]
        ],
        "inputLabels": [
            "udpIn"
        ],
        "outputLabels": [
            "jsonOut"
        ]
    },
    {
        "id": "59d6a708a5ae90d0",
        "type": "switch",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "evt_precip",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "evt_strike",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rapid_wind",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obs_st",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obs_sky",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device_status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hub_status",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 7,
        "x": 230,
        "y": 4340,
        "wires": [
            [],
            [],
            [],
            [
                "c75ab248b02927ba",
                "6acf1badf473998c"
            ],
            [],
            [
                "7c155a9d8c8699fe",
                "1260a9b08a53b731",
                "af8acab97797ed54",
                "404e7b0e96bd55cb"
            ],
            [
                "982844d5545e3603",
                "61443aebf7379431",
                "a6decf4d3be94f92"
            ]
        ],
        "inputLabels": [
            "jsonIn"
        ],
        "outputLabels": [
            "",
            "",
            "rapidWind",
            "obs_st",
            "obsSky",
            "deviceStatus",
            "hubStatus"
        ]
    },
    {
        "id": "982844d5545e3603",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "get rssi",
        "func": "msg.payload = msg.payload.rssi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 4620,
        "wires": [
            [
                "395e487a0f1779a8",
                "14767dfc51d1976e"
            ]
        ]
    },
    {
        "id": "395e487a0f1779a8",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "913ad47e93848148",
        "order": 3,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Hub",
        "label": "mph",
        "format": "{{msg.payload}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 4580,
        "wires": []
    },
    {
        "id": "bedabe1427256410",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Hub RSSI",
        "group": "913ad47e93848148",
        "order": 4,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1600,
        "y": 4620,
        "wires": [
            [
                "0ce0a8a552a4cee6"
            ]
        ]
    },
    {
        "id": "524c9c489a0a81ae",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "0b1302b54722bbf2",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hub:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 610,
        "y": 4680,
        "wires": []
    },
    {
        "id": "61443aebf7379431",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "hub status timestamp",
        "func": "currentTime = msg.payload.timestamp * 1000\nvar now = new Date(currentTime).toLocaleString()\nmsg.payload = now\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 4680,
        "wires": [
            [
                "524c9c489a0a81ae"
            ]
        ]
    },
    {
        "id": "7c155a9d8c8699fe",
        "type": "switch",
        "z": "efaf7e39b3ced8bf",
        "name": "device status",
        "property": "payload.serial_number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload.rssi",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SK",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 4480,
        "wires": [
            [
                "af8acab97797ed54"
            ],
            []
        ],
        "inputLabels": [
            "deviceStatusIn"
        ],
        "outputLabels": [
            "airStatus",
            "skyStatus"
        ]
    },
    {
        "id": "af8acab97797ed54",
        "type": "debug",
        "z": "efaf7e39b3ced8bf",
        "name": "air_status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 4460,
        "wires": []
    },
    {
        "id": "404e7b0e96bd55cb",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "get rssi",
        "func": "msg.payload = msg.payload.rssi\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 4520,
        "wires": [
            [
                "fca8c4df5349b19d",
                "f349abd827a63820"
            ]
        ]
    },
    {
        "id": "0e314f17173b3c24",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Air RSSI",
        "group": "913ad47e93848148",
        "order": 2,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1580,
        "y": 4400,
        "wires": [
            [
                "90ebb270848b3347"
            ]
        ]
    },
    {
        "id": "fca8c4df5349b19d",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "913ad47e93848148",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Air",
        "label": "mph",
        "format": "{{value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 4360,
        "wires": []
    },
    {
        "id": "6acf1badf473998c",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "air firmware_revision",
        "func": "msg.payload = msg.payload.firmware_revision\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 4260,
        "wires": [
            [
                "5ccfb2e661b88eb3"
            ]
        ]
    },
    {
        "id": "5ccfb2e661b88eb3",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "0b1302b54722bbf2",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air Firmware:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 780,
        "y": 4260,
        "wires": []
    },
    {
        "id": "c75ab248b02927ba",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_air timestamp",
        "func": "currentTime = msg.payload.obs[0][0] * 1000\nvar now = new Date(currentTime).toLocaleString()\nvar airLastTimestamp = global.set(\"now\")\nmsg.payload = now\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 4300,
        "wires": [
            [
                "7d40e28b72db7d0d"
            ]
        ]
    },
    {
        "id": "7d40e28b72db7d0d",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "0b1302b54722bbf2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Air:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 750,
        "y": 4300,
        "wires": []
    },
    {
        "id": "1260a9b08a53b731",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "obs_air battery",
        "func": "msg.payload = msg.payload.voltage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 4360,
        "wires": [
            [
                "dc6b3836441e5078",
                "519bc54c3846a177"
            ]
        ]
    },
    {
        "id": "dc6b3836441e5078",
        "type": "ui_gauge",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "group": "d6ebeb2c2f8505ec",
        "order": 1,
        "width": "4",
        "height": 3,
        "gtype": "gage",
        "title": "Air",
        "label": "volts",
        "format": "{{value| number:2}}",
        "min": "2",
        "max": "4",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b50c"
        ],
        "seg1": "3.15",
        "seg2": "3.3",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 4360,
        "wires": []
    },
    {
        "id": "265e71d58b0b7c72",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Air battery",
        "group": "d6ebeb2c2f8505ec",
        "order": 2,
        "width": "4",
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1530,
        "y": 4280,
        "wires": [
            [
                "a6e25864f39d13ba"
            ]
        ]
    },
    {
        "id": "a6decf4d3be94f92",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "hub firmware_revision",
        "func": "msg.payload = msg.payload.firmware_revision\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 4760,
        "wires": [
            [
                "cf0442ec85c82e25"
            ]
        ]
    },
    {
        "id": "cf0442ec85c82e25",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "0b1302b54722bbf2",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hub Firmware:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 680,
        "y": 4760,
        "wires": []
    },
    {
        "id": "23c6583e4f2aed53",
        "type": "comment",
        "z": "efaf7e39b3ced8bf",
        "name": "Full station details via API",
        "info": "",
        "x": 810,
        "y": 3060,
        "wires": []
    },
    {
        "id": "5d80f1cb4967376a",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Feels_Like",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0].feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 3260,
        "wires": [
            [
                "c1e64c06609b76e6"
            ]
        ]
    },
    {
        "id": "c1e64c06609b76e6",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "func": "//(0°C × 9/5) + 32 = 32°F\n\nmsg.payload = (msg.payload * 9/5) + 32\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 3260,
        "wires": [
            [
                "3a45f9f51c10fe88",
                "8e28f5d09ae64095"
            ]
        ]
    },
    {
        "id": "701d2f37b459b76e",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Heat_Index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0].heat_index",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 3320,
        "wires": [
            [
                "0fedf92743b7fc12"
            ]
        ]
    },
    {
        "id": "0fedf92743b7fc12",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "func": "//(0°C × 9/5) + 32 = 32°F\n\nmsg.payload = (msg.payload * 9/5) + 32\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 3320,
        "wires": [
            [
                "6020bda9edae3f11",
                "0cbec0650d4dfa55"
            ]
        ]
    },
    {
        "id": "be1f56997fb7630d",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "precip_accum_local_day",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0].precip_accum_local_day",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 3580,
        "wires": [
            [
                "3056e13514f11f2a"
            ]
        ]
    },
    {
        "id": "3056e13514f11f2a",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "MM to Inches",
        "func": "// Extract the input value from the message payload\nvar mm = msg.payload;\n\n// Convert mm to inches (1 mm = 0.0393701 inches)\nvar inches = mm * 0.0393701;\n\n// Create a new message object to send the converted value\nvar convertedMsg = {\n    payload: inches\n};\n\n// Send the converted message to the next node\nreturn convertedMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 3580,
        "wires": [
            [
                "406bd63b3b9cbc12",
                "bbbe2fdb3be1e170",
                "ce0326d139017ad6"
            ]
        ]
    },
    {
        "id": "8050d6ea6406f5f9",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "precip_accum_last_1hr",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0].precip_accum_last_1hr",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 3780,
        "wires": [
            [
                "5e2b64d8c5fd9658"
            ]
        ]
    },
    {
        "id": "5e2b64d8c5fd9658",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "MM to Inches",
        "func": "// Extract the input value from the message payload\nvar mm = msg.payload;\n\n// Convert mm to inches (1 mm = 0.0393701 inches)\nvar inches = mm * 0.0393701;\n\n// Create a new message object to send the converted value\nvar convertedMsg = {\n    payload: inches\n};\n\n// Send the converted message to the next node\nreturn convertedMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 3780,
        "wires": [
            [
                "b73fab7ac295031b",
                "893085c56b4edfc8",
                "9399b827d5673708"
            ]
        ]
    },
    {
        "id": "d765514f14f0be9a",
        "type": "change",
        "z": "efaf7e39b3ced8bf",
        "name": "Precip Accum Ystday",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.obs[0].precip_accum_local_yesterday",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 4040,
        "wires": [
            [
                "e8341e9d60415a50"
            ]
        ]
    },
    {
        "id": "e8341e9d60415a50",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "MM to Inches",
        "func": "// Extract the input value from the message payload\nvar mm = msg.payload;\n\n// Convert mm to inches (1 mm = 0.0393701 inches)\nvar inches = mm * 0.0393701;\n\n// Create a new message object to send the converted value\nvar convertedMsg = {\n    payload: inches\n};\n\n// Send the converted message to the next node\nreturn convertedMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 4040,
        "wires": [
            [
                "778ba90d98a69257",
                "be7a7bae388dea5a",
                "92124880283523a5"
            ]
        ]
    },
    {
        "id": "c333ad346960b99b",
        "type": "function",
        "z": "efaf7e39b3ced8bf",
        "name": "MM to Inches",
        "func": "// Extract the input value from the message payload\nvar mm = msg.payload;\n\n// Convert mm to inches (1 mm = 0.0393701 inches)\nvar inches = mm * 0.0393701;\n\n// Create a new message object to send the converted value\nvar convertedMsg = {\n    payload: inches\n};\n\n// Send the converted message to the next node\nreturn convertedMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2420,
        "wires": [
            [
                "76a4ad880f6534c7"
            ]
        ]
    },
    {
        "id": "3a45f9f51c10fe88",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Feels Like",
        "format": "<font size = 5>{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1590,
        "y": 3120,
        "wires": []
    },
    {
        "id": "6020bda9edae3f11",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Heat Index",
        "format": "<font size = 5>{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1570,
        "y": 3320,
        "wires": []
    },
    {
        "id": "406bd63b3b9cbc12",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Precip Accum Day",
        "format": "<font size = 5>{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1820,
        "y": 3440,
        "wires": []
    },
    {
        "id": "b73fab7ac295031b",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Precip Accum Hour",
        "format": "<font size = 5>{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1700,
        "y": 3700,
        "wires": []
    },
    {
        "id": "778ba90d98a69257",
        "type": "ui_text",
        "z": "efaf7e39b3ced8bf",
        "group": "3f1000818cdfd37d",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "<font size = 5>Precip Accum Ystday",
        "format": "<font size = 5>{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1630,
        "y": 3900,
        "wires": []
    },
    {
        "id": "54df3b78c61fe6cc",
        "type": "mqtt out",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "topic": "WX_Temp_C",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7dd2839537522c9",
        "x": 2130,
        "y": 1580,
        "wires": []
    },
    {
        "id": "9116cb824df50eec",
        "type": "mqtt out",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "topic": "WX_Wind_Direction",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75cf19f0f3b40ef5",
        "x": 1810,
        "y": 1200,
        "wires": []
    },
    {
        "id": "acb0bbd1666bb45c",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "WX Wind Avg",
        "mode": "link",
        "links": [],
        "x": 1805,
        "y": 740,
        "wires": []
    },
    {
        "id": "a41935940eb4dbb6",
        "type": "ui_template",
        "z": "efaf7e39b3ced8bf",
        "d": true,
        "group": "",
        "name": "Load CSS",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "/*!\n* Weather Icons Lite v1.6.1\n* Weather themed icons for Bootstrap\n* Author - Paul Reed\n* Maintained at https://github.com/Paul-Reed/weather-icons-lite\n* Description - A lighweight version of Weather Icons\n* Credit to Erik Flowers - erik@helloerik.com\n*\n*/\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');\n@import url('https://w3schools.com/w3css/4/w3.cs');\n@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');\n@font-face {\nfont-family: 'weather-icons-lite';\nfont-weight: normal;\nfont-style: normal;\nsrc: url('../fonts/weather-icons-lite.woff2') format('woff2'),\nurl('../fonts/weather-icons-lite.woff') format('woff'),\nurl('../fonts/weather-icons-lite.ttf') format('truetype'),\nurl('../fonts/weather-icons-lite.eot') format('embedded-opentype');\n}\n.wi {\ndisplay: inline-block;\nfont-family: 'weather-icons-lite';\nfont-style: normal;\nfont-weight: normal;\nline-height: 1;\n-webkit-font-smoothing: antialiased;\n-moz-osx-font-smoothing: grayscale;\n}\n.wi-lg {\nfont-size: 1.33333em;\nline-height: 0.75em;\nvertical-align: -.0667em;\n}\n.wi-xs {\nfont-size: .75em;\n}\n.wi-sm {\nfont-size: .875em;\n}\n.wi-1x {\nfont-size: 1em;\n}\n.wi-2x {\nfont-size: 2em;\n}\n.wi-3x {\nfont-size: 3em;\n}\n.wi-4x {\nfont-size: 4em;\n}\n.wi-5x {\nfont-size: 5em;\n}\n.wi-6x {\nfont-size: 6em;\n}\n.wi-7x {\nfont-size: 7em;\n}\n.wi-8x {\nfont-size: 8em;\n}\n.wi-9x {\nfont-size: 9em;\n}\n.wi-10x {\nfont-size: 10em;\n}\n.wi-fw {\ntext-align: center;\nwidth: 1.4em;\n}\n.wi-rotate-0,.wi-rotate-N,.wi-towards-N,.wi-from-S {\n-webkit-transform: rotate(0deg);\n-ms-transform: rotate(0deg);\ntransform: rotate(0deg);\n}\n.wi-rotate-23,.wi-rotate-NNE,.wi-towards-NNE,.wi-from-SSW {\n-webkit-transform: rotate(23deg);\n-ms-transform: rotate(23deg);\ntransform: rotate(23deg);\n}\n.wi-rotate-45,.wi-rotate-NE,.wi-towards-NE,.wi-from-SW {\n-webkit-transform: rotate(45deg);\n-ms-transform: rotate(45deg);\ntransform: rotate(45deg);\n}\n.wi-rotate-68,.wi-rotate-ENE,.wi-towards-ENE,.wi-from-WSW {\n-webkit-transform: rotate(68deg);\n-ms-transform: rotate(68deg);\ntransform: rotate(68deg);\n}\n.wi-rotate-90,.wi-rotate-E,.wi-towards-E,.wi-from-W {\nfilter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);\n-webkit-transform: rotate(90deg);\n-ms-transform: rotate(90deg);\ntransform: rotate(90deg);\n}\n.wi-rotate-113,.wi-rotate-ESE,.wi-towards-ESE,.wi-from-WNW {\n-webkit-transform: rotate(113deg);\n-ms-transform: rotate(113deg);\ntransform: rotate(113deg);\n}\n.wi-rotate-135,.wi-rotate-SE,.wi-towards-SE,.wi-from-NW {\n-webkit-transform: rotate(135deg);\n-ms-transform: rotate(135deg);\ntransform: rotate(135deg);\n}\n.wi-rotate-158,.wi-rotate-SSE,.wi-towards-SSE,.wi-from-NNW {\n-webkit-transform: rotate(158deg);\n-ms-transform: rotate(158deg);\ntransform: rotate(158deg);\n}\n.wi-rotate-180,.wi-rotate-S,.wi-towards-S,.wi-from-N {\nfilter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);\n-webkit-transform: rotate(180deg);\n-ms-transform: rotate(180deg);\ntransform: rotate(180deg);\n}\n.wi-rotate-203,.wi-rotate-SSW,.wi-towards-SSW,.wi-from-NNE {\n-webkit-transform: rotate(203deg);\n-ms-transform: rotate(203deg);\ntransform: rotate(203deg);\n}\n.wi-rotate-225,.wi-rotate-SW,.wi-towards-SW,.wi-from-NE {\n-webkit-transform: rotate(225deg);\n-ms-transform: rotate(225deg);\ntransform: rotate(225deg);\n}\n.wi-rotate-248,.wi-rotate-WSW,.wi-towards-WSW,.wi-from-ENE {\n-webkit-transform: rotate(248deg);\n-ms-transform: rotate(248deg);\ntransform: rotate(248deg);\n}\n.wi-rotate-270,.wi-rotate-W,.wi-towards-W,.wi-from-E{\nfilter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);\n-webkit-transform: rotate(270deg);\n-ms-transform: rotate(270deg);\ntransform: rotate(270deg);\n}\n.wi-rotate-293,.wi-rotate-WNW,.wi-towards-WNW,.wi-from-ESE {\n-webkit-transform: rotate(293deg);\n-ms-transform: rotate(293deg);\ntransform: rotate(293deg);\n}\n.wi-rotate-315,.wi-rotate-NW,.wi-towards-NW,.wi-from-SE {\n-webkit-transform: rotate(315deg);\n-ms-transform: rotate(315deg);\ntransform: rotate(315deg);\n}\n.wi-rotate-320,.wi-rotate-NW,.wi-towards-NW,.wi-from-SE {\n-webkit-transform: rotate(320deg);\n-ms-transform: rotate(320deg);\ntransform: rotate(320deg);\n}\n.wi-rotate-338,.wi-rotate-NNW,.wi-towards-NNW,.wi-from-SSE {\n-webkit-transform: rotate(338deg);\n-ms-transform: rotate(338deg);\ntransform: rotate(338deg);\n}\n.wi-flip-horizontal {\nfilter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0,\nmirror=1);\n-webkit-transform: scale(-1, 1);\n-ms-transform: scale(-1, 1);\ntransform: scale(-1, 1);\n}\n.wi-flip-vertical {\nfilter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);\n-webkit-transform: scale(1, -1);\n-ms-transform: scale(1, -1);\ntransform: scale(1, -1);\n}\n.wi-arrow:before {\ncontent: \"\\f0d2\";\n}\n.wi-direction:before {\ncontent: \"\\f0d1\";\n}\n.wi-darksky-clear-day:before {\ncontent: \"\\f00d\";\n}\n.wi-darksky-clear-night:before {\ncontent: \"\\f02e\";\n}\n.wi-darksky-rain:before {\ncontent: \"\\f019\";\n}\n.wi-darksky-snow:before {\ncontent: \"\\f01b\";\n}\n.wi-darksky-sleet:before {\ncontent: \"\\f0b5\";\n}\n.wi-darksky-wind:before {\ncontent: \"\\f050\";\n}\n.wi-darksky-fog:before {\ncontent: \"\\f014\";\n}\n.wi-darksky-cloudy:before {\ncontent: \"\\f013\";\n}\n.wi-darksky-partly-cloudy-day:before {\ncontent: \"\\f002\";\n}\n.wi-darksky-partly-cloudy-night:before {\ncontent: \"\\f086\";\n}\n.wi-darksky-hail:before {\ncontent: \"\\f015\";\n}\n.wi-darksky-thunderstorm:before {\ncontent: \"\\f01e\";\n}\n.wi-darksky-tornado:before {\ncontent: \"\\f056\";\n}\n.wi-owm-01d:before {\ncontent: \"\\f00d\";\n}\n.wi-owm-02d:before {\ncontent: \"\\f00c\";\n}\n.wi-owm-03d:before {\ncontent: \"\\f002\";\n}\n.wi-owm-04d:before {\ncontent: \"\\f013\";\n}\n.wi-owm-09d:before {\ncontent: \"\\f017\";\n}\n.wi-owm-10d:before {\ncontent: \"\\f019\";\n}\n.wi-owm-11d:before {\ncontent: \"\\f01e\";\n}\n.wi-owm-13d:before {\ncontent: \"\\f01b\";\n}\n.wi-owm-50d:before {\ncontent: \"\\f014\";\n}\n.wi-owm-01n:before {\ncontent: \"\\f02e\";\n}\n.wi-owm-02n:before {\ncontent: \"\\f081\";\n}\n.wi-owm-03n:before {\ncontent: \"\\f07e\";\n}\n.wi-owm-04n:before {\ncontent: \"\\f086\";\n}\n.wi-owm-09n:before {\ncontent: \"\\f026\";\n}\n.wi-owm-10n:before {\ncontent: \"\\f028\";\n}\n.wi-owm-11n:before {\ncontent: \"\\f02c\";\n}\n.wi-owm-13n:before {\ncontent: \"\\f02a\";\n}\n.wi-owm-50n:before {\ncontent: \"\\f04a\";\n}\n.wi-wu-chanceflurries:before {\ncontent: \"\\f064\";\n}\n.wi-wu-chancerain:before {\ncontent: \"\\f019\";\n}\n.wi-wu-chancesleet:before {\ncontent: \"\\f0b5\";\n}\n.wi-wu-chancesnow:before {\ncontent: \"\\f01b\";\n}\n.wi-wu-chancetstorms:before {\ncontent: \"\\f01e\";\n}\n.wi-wu-clear:before {\ncontent: \"\\f00d\";\n}\n.wi-wu-cloudy:before {\ncontent: \"\\f002\";\n}\n.wi-wu-flurries:before {\ncontent: \"\\f064\";\n}\n.wi-wu-fog:before {\ncontent: \"\\f014\";\n}\n.wi-wu-hazy:before {\ncontent: \"\\f0b6\";\n}\n.wi-wu-mostlycloudy:before {\ncontent: \"\\f002\";\n}\n.wi-wu-mostlysunny:before {\ncontent: \"\\f00c\";\n}\n.wi-wu-partlycloudy:before {\ncontent: \"\\f002\";\n}\n.wi-wu-partlysunny:before {\ncontent: \"\\f002\";\n}\n.wi-wu-rain:before {\ncontent: \"\\f01a\";\n}\n.wi-wu-sleet:before {\ncontent: \"\\f0b5\";\n}\n.wi-wu-snow:before {\ncontent: \"\\f01b\";\n}\n.wi-wu-sunny:before {\ncontent: \"\\f00d\";\n}\n.wi-wu-tstorms:before {\ncontent: \"\\f01e\";\n}\n.wi-wu-nt_chanceflurries:before {\ncontent: \"\\f067\";\n}\n.wi-wu-nt_chancerain:before {\ncontent: \"\\f028\";\n}\n.wi-wu-nt_chancesleet:before {\ncontent: \"\\f0b4\";\n}\n.wi-wu-nt_chancesnow:before {\ncontent: \"\\f02a\";\n}\n.wi-wu-nt_chancetstorms:before {\ncontent: \"\\f02d\";\n}\n.wi-wu-nt_clear:before {\ncontent: \"\\f02e\";\n}\n.wi-wu-nt_flurries:before {\ncontent: \"\\f067\";\n}\n.wi-wu-nt_fog:before {\ncontent: \"\\f04a\";\n}\n.wi-wu-nt_hazy:before {\ncontent: \"\\f07e\";\n}\n.wi-wu-nt_mostlycloudy:before {\ncontent: \"\\f081\";\n}\n.wi-wu-nt_mostlysunny:before {\ncontent: \"\\f02e\";\n}\n.wi-wu-nt_partlycloudy:before {\ncontent: \"\\f081\";\n}\n.wi-wu-nt_partlysunny:before {\ncontent: \"\\f086\";\n}\n.wi-wu-nt_rain:before {\ncontent: \"\\f028\";\n}\n.wi-wu-nt_sleet:before {\ncontent: \"\\f0b4\";\n}\n.wi-wu-nt_snow:before {\ncontent: \"\\f02a\";\n}\n.wi-wu-nt_sunny:before {\ncontent: \"\\f02e\";\n}\n.wi-wu-nt_tstorms:before {\ncontent: \"\\f02d\";\n}\n.wi-wu-nt_cloudy:before {\ncontent: \"\\f031\";\n}\n.wi-moon-wax-cres-dark:before {\ncontent: \"\\f0de\";\n}\n.wi-moon-first-quart-dark:before {\ncontent: \"\\f0df\";\n}\n.wi-moon-wax-gibb-dark:before {\ncontent: \"\\f0e0\";\n}\n.wi-moon-full-dark:before {\ncontent: \"\\f0e1\";\n}\n.wi-moon-wan-gibb-dark:before {\ncontent: \"\\f0da\";\n}\n.wi-moon-third-quart-dark:before {\ncontent: \"\\f0db\";\n}\n.wi-moon-wan-cres-dark:before {\ncontent: \"\\f0dc\";\n}\n.wi-moon-new-dark:before {\ncontent: \"\\f0dd\";\n}\n.wi-moon-wax-cres:before {\ncontent: \"\\f0da\";\n}\n.wi-moon-first-quart:before {\ncontent: \"\\f0db\";\n}\n.wi-moon-wax-gibb:before {\ncontent: \"\\f0dc\";\n}\n.wi-moon-full:before {\ncontent: \"\\f0dd\";\n}\n.wi-moon-wan-gibb:before {\ncontent: \"\\f0de\";\n}\n.wi-moon-third-quart:before {\ncontent: \"\\f0df\";\n}\n.wi-moon-wan-cres:before {\ncontent: \"\\f0e0\";\n}\n.wi-moon-new:before {\ncontent: \"\\f0e1\";\n}\n.rounded {\nborder-radius: 12px 12px 12px 12px;\nborder: #808080 2px solid;\n}\n.smallfont {\nfont-size: 12px;\ntext-transform:none;\n}\n\n</style>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1070,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "85ef3dbf63776596",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wind_lull_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c6f8c011352fe398",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wind_avg_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3220,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "99f3931acdb71c5e",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wind_gust_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3200,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d3e5f1337af8a71f",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\mbar_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3920,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "06c36d6bdab14b96",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\temp_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3900,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "8d3c5390dc2e9612",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\humidity_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3900,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "3b225e8734ea2507",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\brightness_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3900,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "ba44e8887c788e9a",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\uv_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3920,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "11eda623532580fa",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wx_solar_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3900,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "a6e25864f39d13ba",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\air_batt_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1910,
        "y": 4280,
        "wires": [
            []
        ]
    },
    {
        "id": "90ebb270848b3347",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\air_rssi_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1870,
        "y": 4420,
        "wires": [
            []
        ]
    },
    {
        "id": "0ce0a8a552a4cee6",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\hub_rssi_7.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1890,
        "y": 4620,
        "wires": [
            []
        ]
    },
    {
        "id": "540f51ef4db4d9e1",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1710,
        "y": 320,
        "wires": [
            [
                "9fec0897a326633e"
            ]
        ]
    },
    {
        "id": "9fec0897a326633e",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wind_lull_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2060,
        "y": 320,
        "wires": [
            [
                "4f2f93cb37d553b0"
            ]
        ]
    },
    {
        "id": "4f2f93cb37d553b0",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2370,
        "y": 320,
        "wires": [
            [
                "e4e80a7c0825cb7e"
            ]
        ]
    },
    {
        "id": "40c801e7d62b4ce8",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2090,
        "y": 660,
        "wires": [
            [
                "970497ef21a7e71d"
            ]
        ]
    },
    {
        "id": "970497ef21a7e71d",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wind_avg_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2440,
        "y": 660,
        "wires": [
            [
                "36fc471251dc0a7e"
            ]
        ]
    },
    {
        "id": "36fc471251dc0a7e",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2730,
        "y": 660,
        "wires": [
            [
                "c6eea718dc95195b"
            ]
        ]
    },
    {
        "id": "414b8dfe809943a8",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2190,
        "y": 1160,
        "wires": [
            [
                "0d5cad60aa811ed0"
            ]
        ]
    },
    {
        "id": "0d5cad60aa811ed0",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wind_gust_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2540,
        "y": 1160,
        "wires": [
            [
                "5b0e6ff7d1ede0df"
            ]
        ]
    },
    {
        "id": "5b0e6ff7d1ede0df",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2870,
        "y": 1160,
        "wires": [
            [
                "c365efacb4f9bf17"
            ]
        ]
    },
    {
        "id": "eaa8bc33dc9048f9",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2350,
        "y": 1580,
        "wires": [
            [
                "4d040c90ce5cb8dd"
            ]
        ]
    },
    {
        "id": "4d040c90ce5cb8dd",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\mbar_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3540,
        "y": 1580,
        "wires": [
            [
                "8b496d42e72d63c5"
            ]
        ]
    },
    {
        "id": "8b496d42e72d63c5",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3790,
        "y": 1580,
        "wires": [
            [
                "f1a691c96065fc75"
            ]
        ]
    },
    {
        "id": "d66382cfcdd9426f",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3130,
        "y": 1720,
        "wires": [
            [
                "fa8af9e0a0e3f831"
            ]
        ]
    },
    {
        "id": "fa8af9e0a0e3f831",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\temp_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3540,
        "y": 1720,
        "wires": [
            [
                "ddedc78ee7c75687"
            ]
        ]
    },
    {
        "id": "ddedc78ee7c75687",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3890,
        "y": 1720,
        "wires": [
            [
                "283a12aee251f488"
            ]
        ]
    },
    {
        "id": "6a4fe25c5579dbed",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3110,
        "y": 1900,
        "wires": [
            [
                "9f22c422f3f0aaa7"
            ]
        ]
    },
    {
        "id": "9f22c422f3f0aaa7",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\humidity_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3580,
        "y": 1900,
        "wires": [
            [
                "34aa996a1cd746b7"
            ]
        ]
    },
    {
        "id": "34aa996a1cd746b7",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3970,
        "y": 1900,
        "wires": [
            [
                "574dc7c011e9e5ea"
            ]
        ]
    },
    {
        "id": "d543852fa759ca2f",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3110,
        "y": 2060,
        "wires": [
            [
                "368d92b441a08f05"
            ]
        ]
    },
    {
        "id": "368d92b441a08f05",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\brightness_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3600,
        "y": 2060,
        "wires": [
            [
                "4c3c18dd40e2566f"
            ]
        ]
    },
    {
        "id": "4c3c18dd40e2566f",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3970,
        "y": 2060,
        "wires": [
            [
                "072a490542c8b697"
            ]
        ]
    },
    {
        "id": "91facacf38519726",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3110,
        "y": 2220,
        "wires": [
            [
                "e34daad44e177583"
            ]
        ]
    },
    {
        "id": "e34daad44e177583",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\uv_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3600,
        "y": 2220,
        "wires": [
            [
                "71a8221d5d9796f8"
            ]
        ]
    },
    {
        "id": "71a8221d5d9796f8",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3970,
        "y": 2220,
        "wires": [
            [
                "ca4604053f15c0ca"
            ]
        ]
    },
    {
        "id": "c7f5dfb5aaad8449",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3110,
        "y": 2440,
        "wires": [
            [
                "b79ba4c5f82536e4"
            ]
        ]
    },
    {
        "id": "b79ba4c5f82536e4",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\wx_solar_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 3620,
        "y": 2440,
        "wires": [
            [
                "638a705b973f743c"
            ]
        ]
    },
    {
        "id": "638a705b973f743c",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3970,
        "y": 2440,
        "wires": [
            [
                "7401d677b0688ebf"
            ]
        ]
    },
    {
        "id": "0dac2a8c721b841f",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1390,
        "y": 4360,
        "wires": [
            [
                "2ce3a91db74c2f3c"
            ]
        ]
    },
    {
        "id": "2ce3a91db74c2f3c",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\air_batt_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1730,
        "y": 4360,
        "wires": [
            [
                "484b827beb482118"
            ]
        ]
    },
    {
        "id": "484b827beb482118",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2070,
        "y": 4360,
        "wires": [
            [
                "265e71d58b0b7c72"
            ]
        ]
    },
    {
        "id": "6831de98546d2880",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1390,
        "y": 4520,
        "wires": [
            [
                "3535b4777ca9cce9"
            ]
        ]
    },
    {
        "id": "3535b4777ca9cce9",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\air_rssi_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1730,
        "y": 4520,
        "wires": [
            [
                "0c35c6996285c025"
            ]
        ]
    },
    {
        "id": "0c35c6996285c025",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2070,
        "y": 4520,
        "wires": [
            [
                "0e314f17173b3c24"
            ]
        ]
    },
    {
        "id": "570cde7fef74e97c",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1390,
        "y": 4720,
        "wires": [
            [
                "8ca5835e968085f3"
            ]
        ]
    },
    {
        "id": "8ca5835e968085f3",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\hub_rssi_7.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1730,
        "y": 4720,
        "wires": [
            [
                "83e90e5d7251a0c5"
            ]
        ]
    },
    {
        "id": "83e90e5d7251a0c5",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2070,
        "y": 4720,
        "wires": [
            [
                "bedabe1427256410"
            ]
        ]
    },
    {
        "id": "a10eff35d9ae7d9b",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1860,
        "y": 200,
        "wires": [
            [
                "3704997dde08f5d4"
            ]
        ]
    },
    {
        "id": "3704997dde08f5d4",
        "type": "smooth",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 2280,
        "y": 200,
        "wires": [
            [
                "e4e80a7c0825cb7e"
            ]
        ]
    },
    {
        "id": "7aa37c32bf9263e3",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2100,
        "y": 600,
        "wires": [
            [
                "99b410a468189a20"
            ]
        ]
    },
    {
        "id": "99b410a468189a20",
        "type": "smooth",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 2520,
        "y": 600,
        "wires": [
            [
                "c6eea718dc95195b"
            ]
        ]
    },
    {
        "id": "21bbfca846349115",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2280,
        "y": 1080,
        "wires": [
            [
                "d5df0ee76fe1fbb0"
            ]
        ]
    },
    {
        "id": "d5df0ee76fe1fbb0",
        "type": "smooth",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 2700,
        "y": 1080,
        "wires": [
            [
                "c365efacb4f9bf17"
            ]
        ]
    },
    {
        "id": "519bc54c3846a177",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 980,
        "y": 4180,
        "wires": [
            [
                "b6254802ff1c0b16"
            ]
        ]
    },
    {
        "id": "b6254802ff1c0b16",
        "type": "smooth",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1480,
        "y": 4200,
        "wires": [
            [
                "265e71d58b0b7c72",
                "9a27fb495a635701"
            ]
        ]
    },
    {
        "id": "f349abd827a63820",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 4420,
        "wires": [
            [
                "0f3732683527d7fe"
            ]
        ]
    },
    {
        "id": "0f3732683527d7fe",
        "type": "smooth",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1420,
        "y": 4420,
        "wires": [
            [
                "0e314f17173b3c24",
                "2622cde29dfa0447"
            ]
        ]
    },
    {
        "id": "14767dfc51d1976e",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 4620,
        "wires": [
            [
                "2438c276ea9f92b8"
            ]
        ]
    },
    {
        "id": "2438c276ea9f92b8",
        "type": "smooth",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 1360,
        "y": 4600,
        "wires": [
            [
                "bedabe1427256410",
                "2af0265c89bfe414"
            ]
        ]
    },
    {
        "id": "a389eab1725eea36",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2520,
        "y": 1520,
        "wires": [
            [
                "f1a691c96065fc75"
            ]
        ]
    },
    {
        "id": "08f6603409d2b505",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2460,
        "y": 1640,
        "wires": [
            [
                "283a12aee251f488"
            ]
        ]
    },
    {
        "id": "6234726cfd43ac4e",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2440,
        "y": 1800,
        "wires": [
            [
                "574dc7c011e9e5ea"
            ]
        ]
    },
    {
        "id": "7071873806a4b0f2",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2380,
        "y": 1960,
        "wires": [
            [
                "072a490542c8b697"
            ]
        ]
    },
    {
        "id": "56c3ba69f728d725",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2360,
        "y": 2140,
        "wires": [
            [
                "ca4604053f15c0ca"
            ]
        ]
    },
    {
        "id": "a0a5670d48b434fd",
        "type": "delay",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2140,
        "y": 2340,
        "wires": [
            [
                "7401d677b0688ebf"
            ]
        ]
    },
    {
        "id": "a9b6f67208d31da4",
        "type": "comment",
        "z": "efaf7e39b3ced8bf",
        "name": "WX Station Flow",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "893085c56b4edfc8",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Precip Accum Hour",
        "group": "48a3136324fcdc83",
        "order": 1,
        "width": "4",
        "height": 3,
        "label": "Precip Accum Hour",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2130,
        "y": 3760,
        "wires": [
            [
                "4f1f2ac44d742850"
            ]
        ]
    },
    {
        "id": "be7a7bae388dea5a",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Precip Accum Ystday",
        "group": "48a3136324fcdc83",
        "order": 3,
        "width": "4",
        "height": 3,
        "label": "Precip Accum Ystday",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1960,
        "y": 4020,
        "wires": [
            [
                "b0f843e354bd69ab"
            ]
        ]
    },
    {
        "id": "bbbe2fdb3be1e170",
        "type": "ui_chart",
        "z": "efaf7e39b3ced8bf",
        "name": "Precip Accum Day",
        "group": "48a3136324fcdc83",
        "order": 2,
        "width": "4",
        "height": 3,
        "label": "Precip Accum Day",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2110,
        "y": 3520,
        "wires": [
            [
                "7632c77ed3307ede"
            ]
        ]
    },
    {
        "id": "7632c77ed3307ede",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\Precip_Accum_Day_7d.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2550,
        "y": 3520,
        "wires": [
            []
        ]
    },
    {
        "id": "4f1f2ac44d742850",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\Precip_Accum_Hour_7d.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2540,
        "y": 3760,
        "wires": [
            []
        ]
    },
    {
        "id": "b0f843e354bd69ab",
        "type": "file",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\Precip_Accum_Ystday_7d.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2460,
        "y": 4020,
        "wires": [
            []
        ]
    },
    {
        "id": "2a6c25acaa92bafd",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1750,
        "y": 3600,
        "wires": [
            [
                "67d9b30650cc9778"
            ]
        ]
    },
    {
        "id": "67d9b30650cc9778",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\Precip_Accum_Day_7d.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2170,
        "y": 3600,
        "wires": [
            [
                "a46cc49af4887892"
            ]
        ]
    },
    {
        "id": "a46cc49af4887892",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2530,
        "y": 3600,
        "wires": [
            [
                "bbbe2fdb3be1e170"
            ]
        ]
    },
    {
        "id": "17d9871f65bee912",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1630,
        "y": 3840,
        "wires": [
            [
                "0d306ed273e2487f"
            ]
        ]
    },
    {
        "id": "0d306ed273e2487f",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\Precip_Accum_Hour_7d.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2100,
        "y": 3840,
        "wires": [
            [
                "109c0b19f079caa0"
            ]
        ]
    },
    {
        "id": "109c0b19f079caa0",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2550,
        "y": 3840,
        "wires": [
            [
                "893085c56b4edfc8"
            ]
        ]
    },
    {
        "id": "b3b0a4e1b6573172",
        "type": "inject",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1430,
        "y": 4080,
        "wires": [
            [
                "4234cbb0dcdd7b67"
            ]
        ]
    },
    {
        "id": "4234cbb0dcdd7b67",
        "type": "file in",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "filename": "\\Users\\Remote\\.node-red\\logs\\Precip_Accum_Ystday_7d.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1820,
        "y": 4080,
        "wires": [
            [
                "614efb301769f52f"
            ]
        ]
    },
    {
        "id": "614efb301769f52f",
        "type": "json",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2170,
        "y": 4060,
        "wires": [
            [
                "be7a7bae388dea5a"
            ]
        ]
    },
    {
        "id": "8c2a11fb997980e5",
        "type": "switch",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "rapid_wind",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obs_air",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obs_sky",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obs_st",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "device_status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "070617a90d1446f9"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "c431608a5ad96cc2",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Last",
        "mode": "link",
        "links": [
            "1a0f371bbc0cf7ba"
        ],
        "x": 1245,
        "y": 80,
        "wires": []
    },
    {
        "id": "63cfcd0d76ebca77",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Avg",
        "mode": "link",
        "links": [
            "3fca6220bc5df04e"
        ],
        "x": 1835,
        "y": 500,
        "wires": []
    },
    {
        "id": "a3928cad07fc55cd",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Wind Gust",
        "mode": "link",
        "links": [
            "97b62a0d06cd5b3e"
        ],
        "x": 1775,
        "y": 900,
        "wires": []
    },
    {
        "id": "765540bb13da674d",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Pressure In",
        "mode": "link",
        "links": [
            "20a8fb6e47b5e384"
        ],
        "x": 1565,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d1ed234a4adf1680",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Temp F",
        "mode": "link",
        "links": [
            "0bbcb96ecc23726d"
        ],
        "x": 1425,
        "y": 1600,
        "wires": []
    },
    {
        "id": "1d2a1972f4a19e55",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Humidity",
        "mode": "link",
        "links": [
            "190f86246d8b7af5"
        ],
        "x": 1415,
        "y": 1740,
        "wires": []
    },
    {
        "id": "73c692e1ec90a5ce",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Illuminance",
        "mode": "link",
        "links": [
            "8a7ad5579d15efce"
        ],
        "x": 1465,
        "y": 1860,
        "wires": []
    },
    {
        "id": "d7421fe881e5a032",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "UV",
        "mode": "link",
        "links": [
            "91521141f36ec2ac"
        ],
        "x": 1405,
        "y": 2020,
        "wires": []
    },
    {
        "id": "5a01dae2ed4a29bd",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Solar",
        "mode": "link",
        "links": [
            "204f70aa7d62a325"
        ],
        "x": 1365,
        "y": 2220,
        "wires": []
    },
    {
        "id": "8e28f5d09ae64095",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Feels Like",
        "mode": "link",
        "links": [
            "aa85897be80b8d05"
        ],
        "x": 1385,
        "y": 3160,
        "wires": []
    },
    {
        "id": "0cbec0650d4dfa55",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Heat Index",
        "mode": "link",
        "links": [
            "343b427dadf2690d"
        ],
        "x": 1405,
        "y": 3280,
        "wires": []
    },
    {
        "id": "ce0326d139017ad6",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "precip_accum_local_day",
        "mode": "link",
        "links": [
            "db7d660f06685f84"
        ],
        "x": 1555,
        "y": 3480,
        "wires": []
    },
    {
        "id": "9399b827d5673708",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "precip_accum_last_1hr",
        "mode": "link",
        "links": [
            "a1df7aa30798d153"
        ],
        "x": 1475,
        "y": 3660,
        "wires": []
    },
    {
        "id": "92124880283523a5",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Precip Accum Ystday",
        "mode": "link",
        "links": [
            "fdcd2f548391a2c4"
        ],
        "x": 1445,
        "y": 3880,
        "wires": []
    },
    {
        "id": "9a27fb495a635701",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Air Batt",
        "mode": "link",
        "links": [
            "12510d246b32b59e"
        ],
        "x": 1595,
        "y": 4120,
        "wires": []
    },
    {
        "id": "2622cde29dfa0447",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Air RSSI",
        "mode": "link",
        "links": [
            "44f8770559c6cc71"
        ],
        "x": 1525,
        "y": 4340,
        "wires": []
    },
    {
        "id": "2af0265c89bfe414",
        "type": "link out",
        "z": "efaf7e39b3ced8bf",
        "name": "Hub RSSI",
        "mode": "link",
        "links": [
            "bfaf35c9fcc21ccd"
        ],
        "x": 1475,
        "y": 4560,
        "wires": []
    },
    {
        "id": "9853e014322e5988",
        "type": "mqtt out",
        "z": "efaf7e39b3ced8bf",
        "name": "",
        "topic": "WX_Wind_Avg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7dd2839537522c9",
        "x": 1860,
        "y": 820,
        "wires": []
    },
    {
        "id": "e326569fea62c302",
        "type": "debug",
        "z": "efaf7e39b3ced8bf",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 651.5,
        "y": 1769.5,
        "wires": []
    },
    {
        "id": "dca1bac092186db8",
        "type": "debug",
        "z": "efaf7e39b3ced8bf",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 369,
        "y": 257,
        "wires": []
    },
    {
        "id": "e4fb22ecf351ea12",
        "type": "comment",
        "z": "efaf7e39b3ced8bf",
        "name": "Insert your Tempest API credentials",
        "info": "",
        "x": 860,
        "y": 3100,
        "wires": []
    },
    {
        "id": "e7f6891ed38445cb",
        "type": "ui_spacer",
        "z": "efaf7e39b3ced8bf",
        "name": "spacer",
        "group": "3011ea26b623dc6e",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "458ac4323d1773cc",
        "type": "ui_spacer",
        "z": "efaf7e39b3ced8bf",
        "name": "spacer",
        "group": "3011ea26b623dc6e",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "d73710966d349160",
        "type": "ui_spacer",
        "z": "efaf7e39b3ced8bf",
        "name": "spacer",
        "group": "3011ea26b623dc6e",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "3f1000818cdfd37d",
        "type": "ui_group",
        "name": "Data",
        "tab": "ccaf4cd843704e45",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b368855d9729e84",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "ccaf4cd843704e45",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e6cd4522f694110",
        "type": "ui_group",
        "name": "Temp",
        "tab": "ccaf4cd843704e45",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d5904f9a10c9283",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "ccaf4cd843704e45",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c9be089531b0711",
        "type": "ui_group",
        "name": "Sun",
        "tab": "ccaf4cd843704e45",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3011ea26b623dc6e",
        "type": "ui_group",
        "name": "Wind",
        "tab": "ccaf4cd843704e45",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "913ad47e93848148",
        "type": "ui_group",
        "name": "RSSI",
        "tab": "ccaf4cd843704e45",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b1302b54722bbf2",
        "type": "ui_group",
        "name": "Last Received",
        "tab": "ccaf4cd843704e45",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ebeb2c2f8505ec",
        "type": "ui_group",
        "name": "Battery Voltage",
        "tab": "ccaf4cd843704e45",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7dd2839537522c9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "75cf19f0f3b40ef5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48a3136324fcdc83",
        "type": "ui_group",
        "name": "Rain",
        "tab": "ccaf4cd843704e45",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ccaf4cd843704e45",
        "type": "ui_tab",
        "name": "WX Station",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": false
    }
]